input[type=text], input[type=password] {
    width: 36%;
    padding: 12px 18px;
    margin: 8px 0;
    display: block;
    border: 0.9px ridge lavenderblush;
    box-sizing: border-box;
    background-color: lemonchiffon
  }
  
  /* Set a style for all buttons */
  button {
    background-color: peru;
    color: white;
    padding: 7px 12px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 36%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.3;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 3px 6px;
    background-color: red;
  }
  

  

  
  /* Add padding to containers */
  .container {
    padding: 3px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 1px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 100px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 25%;
    }
  }
  
  /* li {
    float: left;
  } */
/*   
  li a {
    display: block;
    color: tomato;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: burlywood;
  } */