<html>
<head>


</head>
<body>

<ul>
  <li><a routerLink="login/snehitha"> Login</a></li>
  <li><a routerLink="register">Registration</a></li>
    <li><a routerLink="if">If</a></li> 
    <li><a routerLink="for">For</a></li>
    <li><a routerLink="switch">xcSwitch</a></li> 
</ul>
<router-outlet></router-outlet>

<!-- <div>
    <br>
    <br>
    <br>
        <div style=text-align:center *ngIf="registers==true;else registerTemplate">
            </div>
        <ng-template #registerTemplate>
            <app-register></app-register>
        </ng-template> 
        <div style=text-align:center *ngIf="ifs==true;else ifTemplate">
          
            </div>
            
            <ng-template #ifTemplate>
            <app-if></app-if>
            </ng-template>  
        <div style=text-align:center *ngIf="logins==true;else loginTemplate">  
            </div>
        <ng-template #loginTemplate>
            <app-login></app-login>
        </ng-template>
        <div style=text-align:center *ngIf="switchs==true;else switchTemplate">
                  
        </div>
        <ng-template #switchTemplate>
        <app-switch></app-switch>
        </ng-template>  
         
        <div style=text-align:center *ngIf="fors==true;else forTemplate">
              
            </div>
            <ng-template #forTemplate>
            <app-for></app-for>
            </ng-template>    
</div> -->
</body>
</html>
